.form{
    display:flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
    align-items: center;
    /* margin-top:2em; */
    /* border:0.3px solid #000 */
   
   
    /* background-image: url("../Components/logo/pic/loginpic/low1.jpg");' */
}

form h4{

    width:16em;
    margin:1em 0.3em 0.5em ;
    color:#a2a2a2;

}
.form input{
    border:none;
    background-color: #fff;
    display: flex;
    border-radius: 0.4em;
    margin:1em 0;
    height:2em;
    direction:rtl;
    padding:0.3em ;
    width:85%;
    outline:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

         
.button{
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border:none;
    font-size: .8em;
  }

  .button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

.formBox{
    /* background-color: #d0f0f0; */
    background-image: url("../Components/logo/pic/loginpic/low4.jpg");
    background-size: cover;
    background-position-y: center;
    width:64%;
    height:auto;
    /* border:0.3px solid black; */
    border-radius: 1em;
    margin:3em auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.formBox img{
    position:absolute;
    width:40em;

}